<section id="agenda" class="agenda">
    <div class="agenda-heading">
        <span class="agenda-heading-text">Agenda</span>
    </div>        
    <div class="content">
      <div class="speakers">
        <% @item[:agenda] && @item[:agenda].each_with_index do |agenda, i| %>
          <div id="talk<%= i+1 %>" class="speaker-details">
            <span class="time">
                <%= agenda[:time] %> <%= "pm" unless agenda[:time].ends_with?('m') %>
            </span>
            <div class="speaker-detail">
              <% if agenda[:speakers] %>
                <% agenda[:speakers].each_with_index do |speaker, i| %>
                    <span class="title"><%= agenda[:title] %></span>
                    <span class="name">
                      <% if speaker[:image] %>
                        <img class="img" src="<%= baseURL + "img/speakers/" + speaker[:image] %>" alt="<%= speaker[:name] %>" />
                      <% else %>
                        <img class="img" src="<%= baseURL + "img/speakers/no_user_image.svg" %>" alt="<%= speaker[:name] %>" />
                      <% end %>
                      <div class="profile">
                        <% if speaker[:profile] %>
                            <a href="<%= speaker[:profile] %>" rel="nofollow" target="_blank" class="link"><%= speaker[:name] %></a>
                        <% else %>
                            <%= speaker[:name] %>
                        <% end %>
                        <% if speaker[:description] %>
                          <div class="speaker-description"><%= speaker[:description] %></div>
                        <% end %>
                        <% if speaker[:motivation] %>
                          <div class="speaker-description"><%= speaker[:motivation] %></div>
                        <% end %>
                      </div>
                    </span>
                    <% if agenda[:video_link] %>
                      <iframe width="100%" height="400px" src="<%= agenda[:video_link] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</section>
