<section id="gratitude" class="gratitude">
  <div class="gratitude-heading">
      <span class="gratitude-heading-text"> Special thanks to the organizers </span>
  </div>
  <div class="content">
    <div class="organizers">
      <% @item[:organizers] && @item[:organizers].each_with_index do |organizer, i| %>
          <span class="name">
            <% if organizer[:image] %>
              <img class="img" src="<%= baseURL + "img/organizers/" + organizer[:image] %>" alt="<%= organizer[:name] %>" /> <%= organizer[:name] %>
            <% else %>
              <img class="img" src="<%= baseURL + "img/speakers/no_user_image.svg" %>" alt="<%= organizer[:name] %>" /> <%= organizer[:name] %>
            <% end %>
          </span>
      <% end %>
    </div>
  </div>
</section>
